# ============================================================
# Caddyfile — FrankenPHP + Railway (sin TLS, puerto dinámico)
# ============================================================

{
	admin off
	auto_https off
	frankenphp
}

{$SERVER_NAME} {
	root * /app
	php_server
	encode zstd gzip

	log {
		output stderr
		level ERROR
	}
}
